BradkenProduction/force-app/main/default/flows/Add_Quote_Facility_on_QLI_addition_with_Supplier_filled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Did_we_find_the_Supplier</name>
        <label>Did we find the Supplier?</label>
        <locationX>421</locationX>
        <locationY>529</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Manufacturing_Supplier_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_Supplier_for_this_QLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Line_Supplier_Found</name>
        <label>Quote Line Supplier Found?</label>
        <locationX>395</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line_Supplier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Manufacturing_Supplier_Record</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Automatically add Quote Supplier Record when QLI is added to the Quote which has supplier selected.</description>
    <environments>Default</environments>
    <interviewLabel>Add Quote Facility on QLI addition with Supplier filled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Quote Supplier on QLI addition with Supplier filled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Supplier_for_this_QLI</name>
        <label>Create Quote Supplier for this QLI</label>
        <locationX>739</locationX>
        <locationY>597</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Manufacturing_Supplier_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>Get_Manufacturing_Supplier_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Time__c</field>
            <value>
                <elementReference>$Record.Lead_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Cost__c</field>
            <value>
                <elementReference>$Record.Product_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Synced_Supplier__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote_Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Manufacturing_Supplier_Record</name>
        <label>Get Manufacturing Supplier Record</label>
        <locationX>188</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_the_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unibis_Facility_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Manufacturing_Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Quote Line Supplier that matches the Supplier added to the Line Item</description>
        <name>Get_Quote_Line_Supplier</name>
        <label>Get Quote Line Supplier</label>
        <locationX>605</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Line_Supplier_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unibis_Supplier_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Supplier</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supplier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Lead_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
