BradkenProduction/force-app/main/default/flows/Add_Case_Team_Members_to_Supplier_Selection_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Add_Product_Manager_to_Case_Team</name>
        <label>Add Product Manager to Case Team</label>
        <locationX>1080</locationX>
        <locationY>716</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_or_Modified_Design_Is_it_a_Bradken_design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.New_or_Modified_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Details.Is_it_a_Bradken_design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Manager_User_ID</targetReference>
            </connector>
            <label>New or Modified Design&amp; Is it a Bradken design</label>
        </rules>
        <rules>
            <name>New_or_Modified_Process_Is_it_a_Bradken_design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.New_or_Modified_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Details.Is_it_a_Bradken_design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Manager_User_ID</targetReference>
            </connector>
            <label>New or Modified Process &amp; Is it a Bradken design</label>
        </rules>
        <rules>
            <name>New_or_Modified_Design_New_or_Modified_Process_Is_it_a_Bradken_design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.New_or_Modified_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Details.New_or_Modified_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Details.Is_it_a_Bradken_design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Manager_User_ID</targetReference>
            </connector>
            <label>New or Modified Design &amp; New or Modified Process &amp; Is it a Bradken design</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Manager_Not_Already_on_Team</name>
        <label>Check Sales Manager Not Already on Team</label>
        <locationX>1641</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Add_Product_Manager_to_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Team_member_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the record just created or just updated?</description>
        <name>Created_or_Updated</name>
        <label>Created or Updated</label>
        <locationX>768</locationX>
        <locationY>499</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordNewOrUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Team_member</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNewOrUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Details</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Product_Manager</name>
        <label>Found Product Manager?</label>
        <locationX>1383</locationX>
        <locationY>601</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Manager_User_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Team_member_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_already_present_in_Case_Team</name>
        <label>Is Owner already present in Case Team</label>
        <locationX>444</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>Add_Current_User_as_Case_Team_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Adds various case team members to a supplier selection case based on certain criteria</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordNewOrUpdated</name>
        <dataType>Boolean</dataType>
        <expression> IF(ISNEW(), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Add Case Team Members to Supplier Selection Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Case Team Members to Supplier Selection Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Current_User_as_Case_Team_member</name>
        <label>Add Current User as Case Team member</label>
        <locationX>667</locationX>
        <locationY>854</locationY>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record__Prior.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <stringValue>0B75h0000000JHH</stringValue>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Product_Manager_to_Team</name>
        <label>Add Product Manager to Team</label>
        <locationX>1450</locationX>
        <locationY>896</locationY>
        <connector>
            <targetReference>Update_Case_Ownership_to_Central_MF_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_Product_Manager_User_ID.Product_Manager_User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <stringValue>0B75h0000000JHM</stringValue>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Sales_Rep_to_Case_Team</name>
        <label>Add Sales Rep to Case Team</label>
        <locationX>1088</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Add_Product_Manager_to_Case_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_Quote_Details.On_Behalf_Of__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <stringValue>0B75h0000000JHR</stringValue>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Team_member</name>
        <label>Get Case Team member</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Owner_already_present_in_Case_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_member_0</name>
        <label>Get Case Team member</label>
        <locationX>1566</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Manager_Not_Already_on_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Manager_User_ID.Product_Manager_User_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Manager_User_ID</name>
        <label>Get Product Manager User ID</label>
        <locationX>1270</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Product_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Details.Product_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Manager_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>941</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Sales_Rep_to_Case_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Ownership_to_Central_MF_Queue</name>
        <label>Update Case Ownership to Central MF Queue</label>
        <locationX>1304</locationX>
        <locationY>896</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5h000003AeDGEA0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>722</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000001Up9xAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
