BradkenProduction/force-app/main/default/flows/Clone_Quote_Function.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Quote</name>
        <label>Clone Quote</label>
        <locationX>456</locationX>
        <locationY>998</locationY>
        <actionName>CloneObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clone_Quote_Line_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectDefaultFieldNames</name>
            <value>
                <elementReference>collectionDefaultQuoteFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectDefaultFieldValues</name>
            <value>
                <elementReference>collectionDefaultQuoteValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectFromId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewQuoteId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Quote_Line_Items</name>
        <label>Clone Quote Line Items</label>
        <locationX>456</locationX>
        <locationY>1118</locationY>
        <actionName>CloneObject</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>childObjectName</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>childObjectParentFieldName</name>
            <value>
                <stringValue>QuoteId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>childObjectParentToId</name>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectFromId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_Field</name>
        <label>Add Opportunity Field</label>
        <locationX>324</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>On_Behalf_Of__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contributor__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Approved_Quote_Default_Fields</name>
        <label>Update Approved Quote Default Fields</label>
        <locationX>588</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Working Proposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RecordTypeId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordType_Quote_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sub_Status__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unapproved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Approved_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Budget_Quote_Default_Fields</name>
        <label>Update Budget Quote Default Fields</label>
        <locationX>388</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sub_Status__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unapproved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Customer_Quote_Default_Fields</name>
        <label>Update  Customer Quote Default Fields</label>
        <locationX>60</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Working Proposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sub_Status__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultQuoteValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unapproved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if we need to pass in a new Opportunity for the Quote to be assigned to</description>
        <name>Check_Change_Opportunity</name>
        <label>Change Opportunity?</label>
        <locationX>455</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Get_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_Field</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>456</locationX>
        <locationY>662</locationY>
        <defaultConnectorLabel>Other Record Type</defaultConnectorLabel>
        <rules>
            <name>Customer_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteToClone.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordType_Quote_Customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Quote_Default_Fields</targetReference>
            </connector>
            <label>Customer Record Type</label>
        </rules>
        <rules>
            <name>Budget_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteToClone.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordType_Quote_Budget</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Budget_Quote_Default_Fields</targetReference>
            </connector>
            <label>Budget Record Type</label>
        </rules>
        <rules>
            <name>Approved_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteToClone.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordType_Quote_Approved_Customer_Quote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved_Quote_Default_Fields</targetReference>
            </connector>
            <label>Approved Record Type</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewQuoteName</name>
        <dataType>String</dataType>
        <expression>{!QuoteToDefault.Name} + &apos; - Cloned&apos;</expression>
    </formulas>
    <formulas>
        <name>RecordType_Quote_Approved_Customer_Quote</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordType_Quote_Approved_Customer_Quote}</expression>
    </formulas>
    <formulas>
        <name>RecordType_Quote_Budget</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordType_Quote_Budget}</expression>
    </formulas>
    <formulas>
        <name>RecordType_Quote_Customer</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordType_Quote_Customer}</expression>
    </formulas>
    <formulas>
        <description>Current User&apos;s ID</description>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Clone Quote Function {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Quote Function</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>456</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>QuoteToClone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Change_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewQuoteURL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!NewQuoteId}&quot; target=&quot;_self&quot;&gt;here&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <description>Overwrite the Cloned Quote with this Opportunity Id</description>
        <name>AssignOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionDefaultQuoteFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionDefaultQuoteValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of newly cloned Quote</description>
        <name>NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteToClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteToDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
