BradkenProduction/force-app/main/default/flows/Clone_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Opportunity</name>
        <label>Clone Opportunity</label>
        <locationX>539</locationX>
        <locationY>50</locationY>
        <actionName>CloneObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Synced_Quote_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectDefaultFieldNames</name>
            <value>
                <elementReference>collectionDefaultFieldNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectDefaultFieldValues</name>
            <value>
                <elementReference>collectionDefaultFieldValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectFromId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewOpportunityId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Default values for Opportunity Fields</description>
        <name>Default_Initial_Opp_Fields</name>
        <label>Default Initial Opp Fields</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SyncedQuoteId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>StageName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Parent_Opportunity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Loss_Reason__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Loss_Reason_comment__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NextStep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDefaultFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Synced_Quote</name>
        <label>Has Synced Quote?</label>
        <locationX>800</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginalSyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Quote</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewQuoteName</name>
        <dataType>String</dataType>
        <expression>{!QuoteToDefault.Name} + &apos; - Cloned&apos;</expression>
    </formulas>
    <formulas>
        <name>RecordType_Quote_Approved_Customer_Quote</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordType_Quote_Approved_Customer_Quote}</expression>
    </formulas>
    <formulas>
        <name>RecordType_Quote_Budget</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordType_Quote_Budget}</expression>
    </formulas>
    <formulas>
        <name>RecordType_Quote_Customer</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordType_Quote_Customer}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Clone Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Synced_Quote_Id</name>
        <label>Get Synced Quote Id</label>
        <locationX>674</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Synced_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OriginalSyncedQuoteId</assignToReference>
            <field>SyncedQuoteId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>902</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Screen_Cloned_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Screen_Cloned_Opportunity</name>
        <label>Opportunity Cloned</label>
        <locationX>902</locationX>
        <locationY>435</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opportunity_Cloned</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Opportunity Cloned&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_URL</name>
            <fieldText>&lt;p&gt;Click &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!NewOpportunityURL} &lt;/span&gt;to view new Opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Default_Initial_Opp_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clone_Quote</name>
        <label>Clone Quote</label>
        <locationX>1009</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowName>Clone_Quote_Function</flowName>
        <inputAssignments>
            <name>AssignOpportunityId</name>
            <value>
                <elementReference>NewOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>OriginalSyncedQuoteId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewQuoteId</assignToReference>
            <name>NewQuoteId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>NewOpportunityURL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!NewOpportunityId}&quot; target=&quot;_self&quot;&gt;here&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>collectionDefaultFieldNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionDefaultFieldValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of newly cloned Quote</description>
        <name>NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalSyncedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteToDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
