BradkenProduction/force-app/main/default/flows/Create_Quote_Facility_from_Case_for_Supplier_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Creates a Quote Supplier record from a Case by asking the user to select both a Quote Line and a Supplier record</description>
    <dynamicChoiceSets>
        <name>CaseQuoteLineItems</name>
        <dataType>String</dataType>
        <displayField>Product__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case_Line_Item__c</object>
        <outputAssignments>
            <assignToReference>SelectedQuoteLineItemID</assignToReference>
            <field>Quote_Line_Item__c</field>
        </outputAssignments>
        <valueField>Product__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuoteLineItems</name>
        <dataType>String</dataType>
        <displayField>Bradken_Part_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseDetails.Quote__c</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputAssignments>
            <assignToReference>SelectedQuoteLineItemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Line_Item_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Bradken_Part_Number__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Quote Facility from Case for Supplier Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Supplier from Case for Supplier Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_Supplier_Record</name>
        <label>Create Quote Supplier Record</label>
        <locationX>704</locationX>
        <locationY>540</locationY>
        <inputAssignments>
            <field>Created_via_Supplier_Selection__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Supplier_Currency.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>Supplier.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Time__c</field>
            <value>
                <elementReference>LeadTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Cost__c</field>
            <value>
                <elementReference>ProductCostVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Item__c</field>
            <value>
                <elementReference>SelectedQuoteLineItemID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>GetCaseDetails.Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Selection_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Selection_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>704</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Supplier_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedQuoteLineItemID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputAssignments>
            <assignToReference>LeadTime</assignToReference>
            <field>Lead_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductCostVariable</assignToReference>
            <field>Product_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Currency</name>
        <label>Get Supplier Currency</label>
        <locationX>505</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Manufacturing_Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetails</name>
        <label>GetCaseDetails</label>
        <locationX>219</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Quote_Supplier</name>
        <label>Create Quote Supplier</label>
        <locationX>352</locationX>
        <locationY>357</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Supplier_Currency</targetReference>
        </connector>
        <fields>
            <name>Quote</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Facility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCaseDetails.Quote__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quote_Line_Items</name>
            <choiceReferences>CaseQuoteLineItems</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quote Line Items</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Facility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Facility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Quote Supplier</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>93</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductCostVariable</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedQuoteLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
