BradkenProduction/force-app/main/default/flows/ECL_Supplier_Grouping_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_if_there_are_one_parent_facility</name>
        <label>Check if there are one parent facility</label>
        <locationX>566</locationX>
        <locationY>157</locationY>
        <actionName>EclSelectionController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_there_is_one_parent_facility</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1299</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>collectionQuoteFacilitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleQuoteFacilityToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddIdToRecordIds</name>
        <label>AddIdToRecordIds</label>
        <locationX>416</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!FillingRecordIds},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillingRecordIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Single_Variable_To_Update</name>
        <label>Assign to Single Variable To Update</label>
        <locationX>1165</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>singleQuoteFacilityToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQuoteFacilityToUpdate.ECL_Supplier_Grouping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ECLSupplierGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_there_is_one_parent_facility</name>
        <label>If there is one parent facility</label>
        <locationX>663</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Error_Window</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There are some parent facilities</defaultConnectorLabel>
        <rules>
            <name>There_is_one_parent_facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_there_are_one_parent_facility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationFillingGroupName</targetReference>
            </connector>
            <label>There is one parent facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifGroupNull</name>
        <label>ifGroupNull</label>
        <locationX>1037</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Error_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ECLSupplierGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ECLSupplierGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_records</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <description>Flow to allow the user to select multiple Quote Facility records from a related list on Quote and add a ECL Supplier Grouping name. This is then used by the Nintex ECL form to submit records to the Supplier</description>
    <interviewLabel>ECL Supplier Grouping Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECL Supplier Grouping Selection</label>
    <loops>
        <name>FillingRecordIds</name>
        <label>FillingRecordIds</label>
        <locationX>415</locationX>
        <locationY>157</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddIdToRecordIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_there_are_one_parent_facility</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_records</name>
        <label>Loop records</label>
        <locationX>1228</locationX>
        <locationY>156</locationY>
        <collectionReference>selectedQuoteFacFromLWC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Single_Variable_To_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Facilities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Quote_Facilities</name>
        <label>Update Quote Facilities</label>
        <locationX>1400</locationX>
        <locationY>159</locationY>
        <inputReference>collectionQuoteFacilitiesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ConfirmationFillingGroupName</name>
        <label>ConfirmationFillingGroupName</label>
        <locationX>916</locationX>
        <locationY>156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ifGroupNull</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <extensionName>c:eclSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ids</name>
                <value>
                    <elementReference>RecordIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ECLSupplierGroup</assignToReference>
                <name>ECLSupplierGroup</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedQuoteFacFromLWC</assignToReference>
                <name>selectedQuoteFac</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Null</name>
        <label>Error_Null</label>
        <locationX>1045</locationX>
        <locationY>334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNull</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(30, 31, 31);&quot;&gt;ECL Supplier Grouping can not be null.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit.</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Window</name>
        <label>Error Window</label>
        <locationX>673</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorApexMethod</name>
            <fieldText>&lt;p&gt;Error. You select Quote Facilities with different parent facility, or one of selected Quote Facilities has no Quote Line Item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>139</locationY>
        <connector>
            <targetReference>FillingRecordIds</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collectionQuoteFacilitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>ECLSupplierGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedQuoteFacFromLWC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>singleQuoteFacilityToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
</Flow>
