BradkenProduction/force-app/main/default/flows/Get_Dated_Exchange_Rates_on_Freight_Quote_for_Total_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Freight_Quote_Currency_AUD</name>
        <label>Freight Quote Currency AUD</label>
        <locationX>1502</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Freight_Quote_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Freight_Quote_0_0_0_0</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Freight_Quote_Currency_AUD_0</name>
        <label>Freight Quote Currency AUD</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Freight_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUD_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Freight_Quote_0_0_0_0_0</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Freight_Quote_Currency_Check</name>
        <label>Freight Quote Currency Check</label>
        <locationX>627</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Dated_Exchange_Rate_to_AUD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Freight_Quote_Parent_are_AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Freight_Quote_Exchange_Conversions</targetReference>
            </connector>
            <label>Freight Quote &amp; Parent are AUD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Currency_AUD</name>
        <label>Order Currency AUD?</label>
        <locationX>1304</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_Dated_Exchange_Rate_to_Order_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Currency.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Freight_Quote_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Currency_AUD</name>
        <label>Quote Currency AUD?</label>
        <locationX>512</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_Dated_Exchange_Rate_to_Quote_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Currency.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Freight_Quote_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the freight quote located on the Quote or Order object?</description>
        <name>Quote_or_Order</name>
        <label>Quote or Order</label>
        <locationX>1205</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Currency</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Currency</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <description>Retrieves the dated exchange rates when total cost is populated on Freight Quote record to then be used in calculating a converted total cost amount to match the quote / order currency</description>
    <environments>Default</environments>
    <interviewLabel>Get Dated Exchange Rates on Freight Quote for Total Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Dated Exchange Rates on Freight Quote for Total Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dated_Exchange_Rate_to_AUD</name>
        <label>Get Dated Exchange Rate to AUD</label>
        <locationX>1205</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_or_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConversionRate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dated_Exchange_Rate_to_Order_Currency</name>
        <label>Get Dated Exchange Rate to Order Currency</label>
        <locationX>1502</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Freight_Quote_Currency_AUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Currency.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConversionRate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dated_Exchange_Rate_to_Quote_Currency</name>
        <label>Get Dated Exchange Rate to Quote Currency</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Freight_Quote_Currency_AUD_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Currency.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConversionRate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Currency</name>
        <label>Get Order Currency</label>
        <locationX>1304</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Currency_AUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Currency</name>
        <label>Get Quote Currency</label>
        <locationX>512</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Currency_AUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Freight_Quote</name>
        <label>Update Freight Quote</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>AUD_to_Quote_Order_Currency__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_Quote_Currency.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Quote_Currency_to_AUD__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_AUD.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Freight_Quote_0</name>
        <label>Update Freight Quote</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>AUD_to_Quote_Order_Currency__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_Order_Currency.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Quote_Currency_to_AUD__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_AUD.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Freight_Quote_0_0</name>
        <label>Update Freight Quote</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>AUD_to_Quote_Order_Currency__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Quote_Currency_to_AUD__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_AUD.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Freight_Quote_0_0_0</name>
        <label>Update Freight Quote</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>AUD_to_Quote_Order_Currency__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Quote_Currency_to_AUD__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_AUD.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Freight_Quote_0_0_0_0</name>
        <label>Update Freight Quote</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>AUD_to_Quote_Order_Currency__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_Order_Currency.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Quote_Currency_to_AUD__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Freight_Quote_0_0_0_0_0</name>
        <label>Update Freight Quote</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>AUD_to_Quote_Order_Currency__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_Quote_Currency.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Quote_Currency_to_AUD__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Freight_Quote_Exchange_Conversions</name>
        <label>Update Freight Quote Exchange Conversions</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>AUD_to_Quote_Order_Currency__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Quote_Currency_to_AUD__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>501</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Freight_Quote_Currency_Check</targetReference>
        </connector>
        <filterFormula>OR(
AND(
ISNEW(),
NOT(ISBLANK({!$Record.Total_Cost__c}))
),
ISCHANGED({!$Record.Total_Cost__c})
)</filterFormula>
        <object>Freight_Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
