BradkenProduction/force-app/main/default/flows/Get_Dated_Exchange_Rates_on_Quote_Facility_for_Product_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Quote_Currency_AUD</name>
        <label>Quote Currency AUD?</label>
        <locationX>512</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_Dated_Exchange_Rate_to_Quote_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Currency.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Facility_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Currency_Check</name>
        <label>Quote Currency Check</label>
        <locationX>281</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Dated_Exchange_Rate_to_AUD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Currency.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Facility_0</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Facility_AUD</name>
        <label>Quote Facility AUD</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUD_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Facility_0_0_0</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
    </decisions>
    <description>Retrieves the dated exchange rates when a product cost is populated on Quote Facility record to then be used in calculating a converted product cost amount to match the quote currency</description>
    <environments>Default</environments>
    <interviewLabel>Get Dated Exchange Rates on Quote Facility for Product Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Dated Exchange Rates on Quote Facility for Product Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Dated Exchange Rate from Quote Facility Currency to AUD</description>
        <name>Get_Dated_Exchange_Rate_to_AUD</name>
        <label>Get Dated Exchange Rate to AUD</label>
        <locationX>512</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Currency_AUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConversionRate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Dated Exchange Rate from AUD to Quote Currency</description>
        <name>Get_Dated_Exchange_Rate_to_Quote_Currency</name>
        <label>Get Dated Exchange Rate to Quote Currency</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Facility_AUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Currency.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConversionRate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Currency</name>
        <label>Get Quote Currency</label>
        <locationX>281</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Currency_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Facility</name>
        <label>Update Quote Facility</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Dated_Exchange_Rate_to_AUD__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_AUD.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dated_Exchanged_Rate_to_Quote_Currency__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_Quote_Currency.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Facility_0</name>
        <label>Update Quote Facility</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Dated_Exchange_Rate_to_AUD__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dated_Exchanged_Rate_to_Quote_Currency__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Facility_0_0</name>
        <label>Update Quote Facility</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Dated_Exchange_Rate_to_AUD__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_AUD.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dated_Exchanged_Rate_to_Quote_Currency__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Facility_0_0_0</name>
        <label>Update Quote Facility</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Dated_Exchange_Rate_to_AUD__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dated_Exchanged_Rate_to_Quote_Currency__c</field>
            <value>
                <elementReference>Get_Dated_Exchange_Rate_to_Quote_Currency.ConversionRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Currency</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Cost__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote_Facility__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
