BradkenProduction/force-app/main/default/flows/New_Clone_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1282</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>QLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_of_Active_QLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_of_Active_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_QLI_Id</name>
        <label>New QLI Id</label>
        <locationX>1282</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Loop_of_Active_QLIs.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_PriceBookEntry_Active</name>
        <label>Are PriceBookEntry Active</label>
        <locationX>1414</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>PBE_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PBE_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PBIs_of_QLIs.PricebookEntry.IsActive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_QLI_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_PriceBookEntry_Active_0</name>
        <label>Are PriceBookEntry Active</label>
        <locationX>1854</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>PBE_Inactive_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PBE_Active_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QLIs_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Quote_and_QLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did the user choose to create Quote with only active QLIs?</description>
        <name>Chose_to_create_quotes_with_only_active_products</name>
        <label>Chose to create quotes with only active products?</label>
        <locationX>1326</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Exit_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_to_Create_Active_QLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Only_Quote_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did we find any Inactive QLIs for the quote we chose to clone?</description>
        <name>Found_Inactive_QLIs</name>
        <label>Found Inactive QLIs?</label>
        <locationX>1590</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Get_QLIs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Only_Active_QLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check whether the Quote Owner, User Profile or Contributor is active or no. Also checks whether Incoterm and Named Place of Destination field is filled.</description>
        <name>Is_Quote_Owner_or_Contributor_Inactive</name>
        <label>Is Quote Owner/Contributor/Incoterm/NPoD Inactive/Empty</label>
        <locationX>952</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_QLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Contributor_Inactive</targetReference>
            </connector>
            <label>Yes Owner Inactive</label>
        </rules>
        <rules>
            <name>Yes_Incoterm_NPoD_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incoterm_and_Named_Place_of_Destination_not_present</targetReference>
            </connector>
            <label>Yes Incoterm/NPoD Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Product Group value is Miming Buckets and Bucket Drawing Number isn&apos;t filled?</description>
        <name>Product_Group_Bucket_Drawing_Number_necessary</name>
        <label>Product Group/Bucket Drawing Number necessary</label>
        <locationX>501</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Is_Quote_Owner_or_Contributor_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bucket_Drawing_Number_not_filled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>New Clone Quote version where it provides the user an option of compulsory condition to eliminate the inactive products from the QLI. Cloning the quote with inactive products present will break the flow.</description>
    <interviewLabel>New Clone Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Clone Quote</label>
    <loops>
        <name>Loop_of_Active_QLIs</name>
        <label>Loop of Active QLIs</label>
        <locationX>1194</locationX>
        <locationY>1478</locationY>
        <collectionReference>Get_QLIs_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PBIs_of_QLIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Cloned_Quote_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_QLIs</name>
        <label>Create QLIs</label>
        <locationX>1194</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Screen_Cloned_Quote</targetReference>
        </connector>
        <inputReference>QLICollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cloned_Quote_0_0</name>
        <label>Get Cloned Quote</label>
        <locationX>1194</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PBIs_of_QLIs</name>
        <label>Get PBIs of QLIs</label>
        <locationX>1414</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_PriceBookEntry_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_of_Active_QLIs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Quote Line Items which are inactive</description>
        <name>Get_QLI</name>
        <label>Get QLI</label>
        <locationX>1590</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Inactive_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsProductActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the quote line items and check for price book entry id activeness</description>
        <name>Get_QLIs_0</name>
        <label>Get QLIs</label>
        <locationX>1854</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_PriceBookEntry_Active_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_PriceBookEntry_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get QLIs and collect only active QLIs</description>
        <name>Get_QLIs_0_0</name>
        <label>Get QLIs</label>
        <locationX>1194</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_of_Active_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsProductActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the quote chosen for cloning</description>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>501</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Quote_OwnerActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the quote chosen for cloning</description>
        <name>Get_Quote_0</name>
        <label>Get Quote</label>
        <locationX>501</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inco_Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Named_Place__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_1</name>
        <label>Get Quote</label>
        <locationX>501</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Group_Bucket_Drawing_Number_necessary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mining Buckets</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bucket_Drawing_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Lets users choose to delete the existing inactive QLIs or exit</description>
        <name>Add_Only_Active_QLIs</name>
        <label>Add Only Active QLIs</label>
        <locationX>1326</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chose_to_create_quotes_with_only_active_products</targetReference>
        </connector>
        <fields>
            <name>Inactive_Products_found</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;There are certain inactive products on your quote that prevents you from cloning it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Want_to_Create_Active_QLI</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to create Quote by discarding the inactive products?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Bucket_Drawing_Number_not_filled</name>
        <label>Bucket Drawing Number not filled</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Owner_or_Contributor_Inactive_0_0</name>
            <fieldText>&lt;p&gt;Bucket Drawing Number field empty. Quote cannot be cloned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Exit screen when user chooses not to delete the QLIs</description>
        <name>Exit_screen</name>
        <label>Exit screen</label>
        <locationX>1458</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exit_Display</name>
            <fieldText>&lt;p&gt;Delete the Inactive QLIs for cloning the quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Incoterm_and_Named_Place_of_Destination_not_present</name>
        <label>Incoterm and Named Place of Destination not present</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Owner_or_Contributor_Inactive_0</name>
            <fieldText>&lt;p&gt;Incoterm or Named Place Destination field currently required but empty. Quote cannot be cloned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Contributor_Inactive</name>
        <label>Owner Contributor Inactive</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Owner_or_Contributor_Inactive</name>
            <fieldText>&lt;p&gt;Either&amp;nbsp;Quote Owner or Contributor are Inactive. Quote cannot be cloned&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PBE_Inactive</name>
        <label>PBE Inactive</label>
        <locationX>1546</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PBEs_Inactive</name>
            <fieldText>&lt;p&gt;There are Inactive Price Book Entries for one of more of the Quote Line Items you are trying to quote. Please activate or delete before cloning.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PBE_Inactive_0</name>
        <label>PBE Inactive</label>
        <locationX>1986</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PBEs_Inactive_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: red;&quot;&gt;There is an inactive price book on the quote you are trying to clone, please contact your Sales Support Coordinator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Cloned_Quote</name>
        <label>Quote Cloned</label>
        <locationX>1590</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quote_Cloned</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Quote Cloned&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quote_URL</name>
            <fieldText>&lt;p&gt;Click &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NewQuoteURL} &lt;/span&gt;to view new Quote&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Clones only Quote and discards Quote Line Items</description>
        <name>Clone_Only_Quote_0</name>
        <label>Clone Only Quote</label>
        <locationX>1194</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_QLIs_0_0</targetReference>
        </connector>
        <flowName>Clone_Quote_Only_Function</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewQuoteId</assignToReference>
            <name>NewQuoteId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Clones Quote as well as QLIs</description>
        <name>Clone_Quote_and_QLIs</name>
        <label>Clone Quote and QLIs</label>
        <locationX>1722</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Screen_Cloned_Quote</targetReference>
        </connector>
        <flowName>Clone_Quote_Function</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewQuoteId</assignToReference>
            <name>NewQuoteId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>NewQuoteURL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!NewQuoteId}&quot; target=&quot;_self&quot;&gt;here&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <description>Id of newly cloned Quote</description>
        <name>NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
