BradkenProduction/force-app/main/default/flows/Opportunity_Lines_PO_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_the_commaSeparatedString_into_Collection</name>
        <label>Split the commaSeparatedString into Collection</label>
        <locationX>536</locationX>
        <locationY>354</locationY>
        <actionName>SplitString_Util</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Opportunity</targetReference>
        </connector>
        <inputParameters>
            <name>stringWithSemicolons</name>
            <value>
                <elementReference>ckbOppLines</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>selectedOppLInes</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_a_collection_to_update</name>
        <label>Add to a collection to update</label>
        <locationX>1338</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>OLIs_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Selected_Opportunity_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_newly_created_PO</name>
        <label>Assign newly created PO</label>
        <locationX>868</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>EachOLI.CustomerPurchaseOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewlyCreatedPOid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_a_collection_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_a_collection_to_update</name>
        <label>Assign to a collection to update</label>
        <locationX>724</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>OLIs_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_OLI</name>
        <label>Prepare OLI</label>
        <locationX>1346</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>EachOLI.CustomerPurchaseOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewlyCreatedPOid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSelectedOPPLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_a_collection_to_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_OLIs_or_Partial_OLIs_Selected</name>
        <label>All OLIs or Partial OLIs Selected?</label>
        <locationX>862</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_OLI_s_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_OLI</targetReference>
            </connector>
            <label>All OLI&apos;s Selected</label>
        </rules>
        <rules>
            <name>Partial_OLI_s_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Selected_Opportunity_Line_Item</targetReference>
            </connector>
            <label>Partial OLI&apos;s Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_or_Partial_Selected</name>
        <label>All or Partial Selected?</label>
        <locationX>292</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_OLIs_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Also_selected_partial_OLI_s</targetReference>
            </connector>
            <label>All OLI&apos;s selected</label>
        </rules>
        <rules>
            <name>Partial_OLIs_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ckbOppLines</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_the_commaSeparatedString_into_Collection</targetReference>
            </connector>
            <label>Partial OLI&apos;s Selected</label>
        </rules>
        <rules>
            <name>Nothing_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ckbOppLines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_for_no_OLI_s_selected</targetReference>
            </connector>
            <label>Nothing selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Also_selected_partial_OLI_s</name>
        <label>Also selected partial OLI&apos;s?</label>
        <locationX>291</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Get_All_OLI_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Even_Partial_OLI_s_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ckbOppLines</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>Even Partial OLI&apos;s selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceSetOpportunityLines</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerPurchaseOrder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>WarningMessageForFullAndPartialOLIsSelected</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_warning_for_both_full_and_partial_OLI_s_selectedc}</expression>
    </formulas>
    <formulas>
        <name>WarningMessageForNoOLIsSelected</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow_warning_for_no_OLI_s_selected}</expression>
    </formulas>
    <interviewLabel>Opportunity Lines PO Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Lines PO Assignment</label>
    <loops>
        <name>For_Each_OLI</name>
        <label>For Each OLI</label>
        <locationX>867</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>EachOLI</assignNextValueToReference>
        <collectionReference>All_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_newly_created_PO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_selected_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Selected_Opportunity_Line_Item</name>
        <label>For Each Selected Opportunity Line Item</label>
        <locationX>1138</locationX>
        <locationY>354</locationY>
        <assignNextValueToReference>eachSelectedOPPLineItemId</assignNextValueToReference>
        <collectionReference>selectedOppLInes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_OLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_selected_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Purchase_Order</name>
        <label>Create Purchase Order</label>
        <locationX>870</locationX>
        <locationY>354</locationY>
        <assignRecordIdToReference>NewlyCreatedPOid</assignRecordIdToReference>
        <connector>
            <targetReference>All_OLIs_or_Partial_OLIs_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Current_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PO_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Current_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Purchase_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_OLI_s</name>
        <label>Get All OLI&apos;s</label>
        <locationX>686</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerPurchaseOrder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>All_OLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CustomerPurchaseOrder__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Opportunity</name>
        <label>get Opportunity</label>
        <locationX>686</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Purchase_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Current_Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_selected_OLIs</name>
        <label>Update selected OLIs</label>
        <locationX>1131</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>completed</targetReference>
        </connector>
        <inputReference>OLIs_to_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>completed</name>
        <label>completed</label>
        <locationX>1131</locationX>
        <locationY>920</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successfully_Completed</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(11, 105, 66); font-size: 16px;&quot;&gt;Successfully completed!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Opportunity_Lines</name>
        <label>Screen Opportunity Lines</label>
        <locationX>172</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>All_or_Partial_Selected</targetReference>
        </connector>
        <fields>
            <name>PO_Number</name>
            <dataType>String</dataType>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assign_All</name>
            <dataType>Boolean</dataType>
            <fieldText>Assign All Lines to PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispOR</name>
            <fieldText>&lt;p&gt;OR&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ckbOppLines</name>
            <choiceReferences>choiceSetOpportunityLines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partial PO - Add Line Items</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>300</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_OLI_s</targetReference>
        </connector>
        <fields>
            <name>Partial_OLI_Records_Selected</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(208, 140, 50);&quot;&gt;Warning!!!&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!WarningMessageForFullAndPartialOLIsSelected}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_for_no_OLI_s_selected</name>
        <label>Warning for no OLI&apos;s selected</label>
        <locationX>300</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_OLIs_Selected</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(208, 140, 50); background-color: rgb(255, 255, 255);&quot;&gt;No OLI&apos;s Selected!!!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!WarningMessageForNoOLIsSelected}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Screen_Opportunity_Lines</startElementReference>
    <status>Active</status>
    <variables>
        <name>All_OLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Current_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>EachOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>eachSelectedOPPLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewlyCreatedPOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OLIs_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Opportunity Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOppLInes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Temp_Text_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
