BradkenProduction/force-app/main/default/flows/QuoteAutomationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_AUD_Exchange_Rate</name>
        <label>Update AUD Exchange Rate</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Exchange_Rate_AUD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dated_Exchange_Rate.ConversionRate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_update_is_needed</name>
        <label>Check if update is needed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exchange_Rate_AUD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exchange_Rate_AUD__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Exchange_Rate_AUD__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dated_Exchange_Rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrencyDate</name>
        <dataType>Date</dataType>
        <expression>IF(
ISBLANK({!$Record.CreatedDate}),
{!$Flow.CurrentDate},
DATEVALUE({!$Record.CreatedDate}))</expression>
    </formulas>
    <interviewLabel>QuoteAutomationProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuoteAutomationProcess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>select id,StartDate, NextStartDate, ConversionRate, IsoCode from DatedConversionRate where IsoCode = &apos;CAD&apos; and StartDate &lt;= 2021-08-20	order by StartDate desc limit 1</description>
        <name>Dated_Exchange_Rate</name>
        <label>Dated Exchange Rate</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AUD_Exchange_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrencyDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_update_is_needed</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
