BradkenProduction/force-app/main/default/flows/salesforce_wrike_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_bf76df90_b299_404c_b957_d481ec969fae_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_bf76df90_b299_404c_b957_d481ec969fae_rank0&quot;,&quot;rankText&quot;:&quot;{!q_bf76df90_b299_404c_b957_d481ec969fae_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_bf76df90_b299_404c_b957_d481ec969fae_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_bf76df90_b299_404c_b957_d481ec969fae_rank1&quot;,&quot;rankText&quot;:&quot;{!q_bf76df90_b299_404c_b957_d481ec969fae_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_bf76df90_b299_404c_b957_d481ec969fae_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_bf76df90_b299_404c_b957_d481ec969fae_rank2&quot;,&quot;rankText&quot;:&quot;{!q_bf76df90_b299_404c_b957_d481ec969fae_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_bf76df90_b299_404c_b957_d481ec969fae_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_bf76df90_b299_404c_b957_d481ec969fae_rank3&quot;,&quot;rankText&quot;:&quot;{!q_bf76df90_b299_404c_b957_d481ec969fae_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_bf76df90_b299_404c_b957_d481ec969fae_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_bf76df90_b299_404c_b957_d481ec969fae_rank4&quot;,&quot;rankText&quot;:&quot;{!q_bf76df90_b299_404c_b957_d481ec969fae_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_bf76df90_b299_404c_b957_d481ec969fae_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_bf76df90_b299_404c_b957_d481ec969fae_rank5&quot;,&quot;rankText&quot;:&quot;{!q_bf76df90_b299_404c_b957_d481ec969fae_rank5}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0722fedf_36d4_43e8_81ee_7ae23e48022b</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1a7c2a96_57be_48d1_be5b_8ecafc82b488</name>
        <choiceText>Mineral Processing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mineral Processing </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1ce3c087_ba64_4277_9612_a738981ea3e3</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2023742c_05df_4be5_8be4_705b882012a9</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_241c49e1_4745_4f97_af3b_ddac80886a61</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_24b22904_34ba_4da7_bba1_8ddd16f84db4</name>
        <choiceText>ANZ Specialty Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ANZ Specialty Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_290c657f_389c_4f22_bf1c_408ff40dff2a</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2c43b39e_62d5_4665_961b_68f15f442657</name>
        <choiceText>Brazil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brazil</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_312bd1d7_3a40_4aa5_be22_1906dd5e747d</name>
        <choiceText>Manufacturing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufacturing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_36618642_b11d_4e6f_baa6_c19f403b5038</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_398d8140_180b_44c1_9705_460c226cc7d3</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c5bf083_fb12_4d10_b4dc_60279ef29f83</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_45d1eb70_eb1b_4fe1_8790_5a5db8ea67f7</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4908f45a_eccd_42d3_8360_1dc6050fe353</name>
        <choiceText>c.	Automated population of customer details from Salesforce to WRIKE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c.	Automated population of customer details from Salesforce to WRIKE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5588c9f8_c224_4f4c_8c0b_05251f00866b</name>
        <choiceText>b.	Visibility of current PD requests within Salesforce opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b.	Visibility of current PD requests within Salesforce opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5619e1ad_a6cd_493f_ac96_c503faab941d</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6eb32b08_da18_44c7_b564_d23e5bac6985</name>
        <choiceText>Peru</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Peru</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73dff7b5_6c58_42c5_8d93_22a9a0dcd1f2</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7fc176f9_2116_42bd_9b82_84e1e88c7f7f</name>
        <choiceText>Indonesia/India</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indonesia/India</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_82754445_fb82_4ad3_8231_90fdc0a2b4ba</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_843bb8c1_b610_4762_8597_090092a03f2c</name>
        <choiceText>f.	Other (Please explain further)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>f.	Other (Please explain further)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8cff9943_eb3e_46b5_8edb_53ce195b371f</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_956e90cf_ad95_4531_9b1b_fd6b64119786</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9fd94d91_3446_4e1f_9410_5bd03b1c17a4</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a50d3dd8_1133_4491_8a6f_a41a3c1cab54</name>
        <choiceText>Australia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Australia</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b8a20513_a8ff_4b62_8705_2ebfa7891467</name>
        <choiceText>a.     Ability to raise a new work request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a.     Ability to raise a new work request</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bdc0df70_b966_4b0f_8bdb_6fcb17d4e579</name>
        <choiceText>Europe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cacbb6a0_04d0_46d7_8758_8c211c959f28</name>
        <choiceText>Chille</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chille</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfce1263_2861_4238_a646_0f04203e1ce0</name>
        <choiceText>New Zealand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Zealand</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d29f6d6e_edbc_4d60_bddd_91472513c3d3</name>
        <choiceText>e.	All of the above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>e.	All of the above</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d5aeadf3_0028_40fa_8597_7467ef7b3c51</name>
        <choiceText>South Africa/Africa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>South Africa/Africa</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e67f7683_9a45_43ed_bc41_d4e28c309dca</name>
        <choiceText>d.	Ability to make changes in WRIKE Through Salesforce e.g. Make comments, upload files, date changes, and status changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d.	Ability to make changes in WRIKE Through Salesforce e.g. Make comments, upload files, date changes, and status changes  </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee07992a_eac6_4e90_a5b9_11a53ddfc4b7</name>
        <choiceText>Mining Mobile Plant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mining Mobile Plant</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f324816b_b5d7_4880_8e1c_dbb965762d42</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <interviewLabel>Salesforce Wrike Survey</interviewLabel>
    <label>Salesforce Wrike Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>salesforce_wrike_survey_2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_5a252316_2af1_41d9_9919_69c79377ad69</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1aab6335_79af_45c2_98ef_a59326a89e82</name>
            <choiceReferences>c_82754445_fb82_4ad3_8231_90fdc0a2b4ba</choiceReferences>
            <choiceReferences>c_1ce3c087_ba64_4277_9612_a738981ea3e3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;ol&gt;&lt;li&gt;&lt;b&gt;Are you aware of what Wrike is, and what it is used for in the Business? &lt;/b&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_392427e1_b4ef_49a5_acde_a67ed0a04680</name>
            <choiceReferences>c_290c657f_389c_4f22_bf1c_408ff40dff2a</choiceReferences>
            <choiceReferences>c_8cff9943_eb3e_46b5_8edb_53ce195b371f</choiceReferences>
            <choiceReferences>c_398d8140_180b_44c1_9705_460c226cc7d3</choiceReferences>
            <choiceReferences>c_f324816b_b5d7_4880_8e1c_dbb965762d42</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;2. How often do you use Wrike?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c763bf2d_04ae_4ae6_a574_6e007c6b46d9</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;3. What do you use Wrike for within your current role? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_178e3d3a_eb95_4faa_b99c_8c9ef2ea3248</name>
            <choiceReferences>c_956e90cf_ad95_4531_9b1b_fd6b64119786</choiceReferences>
            <choiceReferences>c_3c5bf083_fb12_4d10_b4dc_60279ef29f83</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;4. Do you see a benefit of integrating Wrike into Salesforce? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e1c83c01_f25a_4666_8fe2_b10c089dba0a</name>
            <choiceReferences>c_b8a20513_a8ff_4b62_8705_2ebfa7891467</choiceReferences>
            <choiceReferences>c_5588c9f8_c224_4f4c_8c0b_05251f00866b</choiceReferences>
            <choiceReferences>c_4908f45a_eccd_42d3_8360_1dc6050fe353</choiceReferences>
            <choiceReferences>c_e67f7683_9a45_43ed_bc41_d4e28c309dca</choiceReferences>
            <choiceReferences>c_d29f6d6e_edbc_4d60_bddd_91472513c3d3</choiceReferences>
            <choiceReferences>c_843bb8c1_b610_4762_8597_090092a03f2c</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;5. What features would you like to see for the integration between WRIKE &amp;amp; Salesforce?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2a0c6459_3e1d_42f4_ba4c_df2d8bb17b5f</name>
            <choiceReferences>c_2023742c_05df_4be5_8be4_705b882012a9</choiceReferences>
            <choiceReferences>c_0722fedf_36d4_43e8_81ee_7ae23e48022b</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;6. If WRIKE was integrated into Salesforce would you use it?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7bd21710_3ffb_440a_b297_97fd522cc39c</name>
            <choiceReferences>c_36618642_b11d_4e6f_baa6_c19f403b5038</choiceReferences>
            <choiceReferences>c_241c49e1_4745_4f97_af3b_ddac80886a61</choiceReferences>
            <choiceReferences>c_5619e1ad_a6cd_493f_ac96_c503faab941d</choiceReferences>
            <choiceReferences>c_73dff7b5_6c58_42c5_8d93_22a9a0dcd1f2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;7. How often would you use WRIKE within Salesforce if this was integrated?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_bf76df90_b299_404c_b957_d481ec969fae_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[6,5,4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bf76df90_b299_404c_b957_d481ec969fae</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;8. What do you feel we should be focusing on to streamline our quoting process? &lt;i&gt;Please rate 1-5, where 1 is highest priority and 5 least.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c1db714b_e0e7_4368_bc31_97a7408a0d69</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please feel free to add any general comments you have regarding any of the above questions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c1ad8047_f93d_46bd_936e_b2eb5bc331af</name>
            <choiceReferences>c_ee07992a_eac6_4e90_a5b9_11a53ddfc4b7</choiceReferences>
            <choiceReferences>c_1a7c2a96_57be_48d1_be5b_8ecafc82b488</choiceReferences>
            <choiceReferences>c_24b22904_34ba_4da7_bba1_8ddd16f84db4</choiceReferences>
            <choiceReferences>c_312bd1d7_3a40_4aa5_be22_1906dd5e747d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please advise what Business Unit you are in&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4c63549e_7792_4929_a403_ccb87baaa2eb</name>
            <choiceReferences>c_a50d3dd8_1133_4491_8a6f_a41a3c1cab54</choiceReferences>
            <choiceReferences>c_cfce1263_2861_4238_a646_0f04203e1ce0</choiceReferences>
            <choiceReferences>c_45d1eb70_eb1b_4fe1_8790_5a5db8ea67f7</choiceReferences>
            <choiceReferences>c_9fd94d91_3446_4e1f_9410_5bd03b1c17a4</choiceReferences>
            <choiceReferences>c_2c43b39e_62d5_4665_961b_68f15f442657</choiceReferences>
            <choiceReferences>c_6eb32b08_da18_44c7_b564_d23e5bac6985</choiceReferences>
            <choiceReferences>c_cacbb6a0_04d0_46d7_8758_8c211c959f28</choiceReferences>
            <choiceReferences>c_bdc0df70_b966_4b0f_8bdb_6fcb17d4e579</choiceReferences>
            <choiceReferences>c_d5aeadf3_0028_40fa_8597_7467ef7b3c51</choiceReferences>
            <choiceReferences>c_7fc176f9_2116_42bd_9b82_84e1e88c7f7f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please advise what Country you are in&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_5a252316_2af1_41d9_9919_69c79377ad69</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_bf76df90_b299_404c_b957_d481ec969fae_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Outline agreement/contract price lists within Salesforce</text>
    </textTemplates>
    <textTemplates>
        <name>q_bf76df90_b299_404c_b957_d481ec969fae_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Unibis costs integrated into Salesforce</text>
    </textTemplates>
    <textTemplates>
        <name>q_bf76df90_b299_404c_b957_d481ec969fae_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Integrated platforms from Manufacturing to Sales Force across all business units (consolidated, unibis routes)</text>
    </textTemplates>
    <textTemplates>
        <name>q_bf76df90_b299_404c_b957_d481ec969fae_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Removal of access as a CRM</text>
    </textTemplates>
    <textTemplates>
        <name>q_bf76df90_b299_404c_b957_d481ec969fae_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Centralized estimating platform for all Business units that integrates into Salesforce</text>
    </textTemplates>
    <textTemplates>
        <name>q_bf76df90_b299_404c_b957_d481ec969fae_rank5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>WRIKE / Salesforce integration</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you for your input it is much appreciated&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We are part of a team that is working on a Move the Needle initiative ”Use Salesforce to reduce enquiry to quote lead-time”. As part of this initiative, we are looking at a possible integration of Wrike and Salesforce. To help us determine our next steps, we need some feedback from our Salesforce users.

It would be most appreciated if you could take 5 mins out of your day to complete this survey.

Survey will close by COB 3RD July.

Thank you in advance.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thanks for taking the time to complete this survey. &lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_bf76df90_b299_404c_b957_d481ec969fae_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
