BradkenProduction/force-app/main/default/flows/Supplier_Selection_Case_Creation_on_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>490</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>collectionCaseQuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCaseQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>TotalSizeOfLoop</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line_Item_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Line_Item_To_Create</name>
        <label>Assign Single Line Item To Create</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>singleCaseQuoteLineItem.Quote_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCaseQuoteLineItem.Estimated_Part_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Part_Weight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCaseQuoteLineItem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSupplierSelectionCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCaseQuoteLineItem.Estimated_Qty_Per_Annum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Qty_Per_Annum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCaseQuoteLineItem.Can_this_product_be_outsourced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Can_this_product_be_outsourced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLISelected.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_to_be_created</name>
        <label>Case to be created?</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_QLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QLISelected.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewSupplierSelectionCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Supplier_Selection_Case</targetReference>
            </connector>
            <label>Create Case</label>
        </rules>
        <rules>
            <name>Create_Case_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QLISelected.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewSupplierSelectionCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Line_Item_To_Create</targetReference>
            </connector>
            <label>Create Case Line Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_to_Create</name>
        <label>Case to Create?</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Case_Not_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Lines_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionCaseQuoteLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Quote_Line_Items</targetReference>
            </connector>
            <label>Case &amp; Lines to Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has opportunity been reviewed with your Sales Manager?</description>
        <name>Opportunity_Reviewed</name>
        <label>Opportunity Reviewed?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Supplier_Case_Cannot_Be_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Selected</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_opportunity_been_reviewed_with_your_Sales_Manager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Items</targetReference>
            </connector>
            <label>Yes Selected</label>
        </rules>
    </decisions>
    <description>Screen flow to create a supplier selection case from Quote</description>
    <environments>Default</environments>
    <formulas>
        <name>SupplierSelectionCaseSubject</name>
        <dataType>String</dataType>
        <expression>{!GetQuoteDetails.Name} + &quot;, Case : Supplier Selection Process&quot;</expression>
    </formulas>
    <interviewLabel>Supplier Selection Process on Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Selection Case Creation on Quote</label>
    <loops>
        <name>Loop_QLIs</name>
        <label>Loop QLIs</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Quote_Line_Items</name>
        <label>Create Case Quote Line Items</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Case_Created</targetReference>
        </connector>
        <inputReference>collectionCaseQuoteLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Supplier_Selection_Case</name>
        <label>Create Supplier Selection Case</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>NewSupplierSelectionCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Single_Line_Item_To_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetQuoteDetails.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Reviewed__c</field>
            <value>
                <elementReference>Has_opportunity_been_reviewed_with_your_Sales_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetQuoteDetails.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5h000003AeDG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>GetQuoteDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125h000001Up9xAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteDetails</name>
        <label>GetQuoteDetails</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Supplier_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Case_Created</name>
        <label>Case Created</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreatedMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Supplier Selection Case Created!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;a href=&quot;/{!NewSupplierSelectionCaseId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to access the case&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Not_Created</name>
        <label>Case Not Created</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseNotCreated</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;No Quote Line Items selected. Supplier Selection Case not created.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Line_Item_Selection</name>
        <label>Quote Line Item Selection</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_to_be_created</targetReference>
        </connector>
        <fields>
            <name>QuoteLineItemCount</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(19, 59, 115); font-size: 20px;&quot;&gt;{!LoopCount} / {!TotalSizeOfLoop} - Quote Line Item&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuoteLineItemDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Line Number: &lt;/b&gt;&lt;a href=&quot;https://onebradken--fcdev.lightning.force.com/lightning/r/QuoteLineItem/{!Loop_QLIs.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_QLIs.LineNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Product: &lt;/b&gt;{!Loop_QLIs.Bradken_Part_Number__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Supplier: &lt;/b&gt;{!Loop_QLIs.Supplier__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Bradken Description: &lt;/b&gt;{!Loop_QLIs.Bradken_Description__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Qty:&lt;/b&gt; {!Loop_QLIs.Quantity}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Drawing Number: &lt;/b&gt;{!Loop_QLIs.Drawing_Number__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Drawing Number Revision: &lt;/b&gt;{!Loop_QLIs.Drawing_Number_Revision__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Material Grade: &lt;/b&gt;{!Loop_QLIs.Material_Grade__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Customer Part Number: &lt;/b&gt;{!Loop_QLIs.Customer_Part_Number__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Customer Part Description: &lt;/b&gt;{!Loop_QLIs.Customer_Part_Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QLISelected</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier Selection Required?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Can_this_product_be_outsourced</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Can this product be outsourced?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QLISelected.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimated_Part_Weight</name>
            <dataType>String</dataType>
            <fieldText>Estimated Part Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QLISelected.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimated_Qty_Per_Annum</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Qty Per Annum</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QLISelected.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next/Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Supplier_Selection</name>
        <label>Request Supplier Selection</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Reviewed</targetReference>
        </connector>
        <fields>
            <name>Request_Supplier_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Request_Supplier_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetQuoteDetails.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Request_Supplier_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetQuoteDetails.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SupplierSelectionCaseSubject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Has_opportunity_been_reviewed_with_your_Sales_Manager</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has opportunity been reviewed with your Sales Manager?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supplier_Case_Cannot_Be_Created</name>
        <label>Supplier Case Cannot Be Created</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Opportunities not deemed strategic or within the product strategy, must be reviewed and agreed on with your Sales Manager&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuoteDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionCaseQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Line_Item__c</objectType>
    </variables>
    <variables>
        <description>Record count of QLI in loop to showcase to the user where they are up to in the loop</description>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewSupplierSelectionCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleCaseQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>TotalSizeOfLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
