BradkenProduction/force-app/main/default/flows/Sync_Quote_Facility_and_Update_QLI_fields_for_list_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_if_lineLtem_have_more_then_one_facility</name>
        <label>Check if lineLtem have more then one facility</label>
        <locationX>993</locationX>
        <locationY>148</locationY>
        <actionName>SyncQuoteFacilityController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_lineLtem_have_more_then_one_facility</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1649</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>QuoteFacilityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteFacilityVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_QLI_Collection</name>
        <label>Add to QLI Collection</label>
        <locationX>1556</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>QLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItemVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Facility_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addingToRecordId</name>
        <label>addingToRecordId</label>
        <locationX>824</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FillingRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillingRecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Quote Facilities that will be de-synced to a collection</description>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1900</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>QuoteFacilitiesToDesyncCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteFacilityDeSyncVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteFacilitiesToDesync</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Quote Facilities that will be de-synced to a single variable</description>
        <name>Assign_to_Single_Variable</name>
        <label>Assign to Single Variable</label>
        <locationX>1790</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>QuoteFacilityDeSyncVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQuoteFacilitiesToDesync.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteFacilityDeSyncVariable.Synced_Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_QLI</name>
        <label>Update QLI</label>
        <locationX>1649</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Facility.Quote_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemVariable.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Facility.Facility__r.Unibis_Facility_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemVariable.Lead_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Facility.Lead_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemVariable.Product_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Facility.Product_Cost_converted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_QLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Facility_loop</name>
        <label>Update Quote Facility</label>
        <locationX>1756</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>QuoteFacilityVariable.Synced_Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteFacilityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Facility_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Facilities_to_Desync</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Facilities_to_De_sync_Found</name>
        <label>Facilities to De-sync Found</label>
        <locationX>1883</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Facilities_to_Desync</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQuoteFacilitiesToDesync</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_lineLtem_have_more_then_one_facility</name>
        <label>If lineLtem have more then one facility</label>
        <locationX>1102</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>ErrorSomeRecOnOneLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>lineLtem have more then one facility</defaultConnectorLabel>
        <rules>
            <name>lineLtem_have_one_facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_lineLtem_have_more_then_one_facility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>lineLtem have one facility</label>
        </rules>
    </decisions>
    <description>Same characteristics as Update QLI when synced supplier</description>
    <environments>Default</environments>
    <interviewLabel>Sync Quote Facility and Update QLI fields (for list Button) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Quote Supplier and Update QLI fields (for list Button)</label>
    <loops>
        <name>FillingRecordId</name>
        <label>FillingRecordId</label>
        <locationX>825</locationX>
        <locationY>149</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addingToRecordId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_lineLtem_have_more_then_one_facility</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Facility_IDs</name>
        <label>Loop Quote Facility IDs</label>
        <locationX>1445</locationX>
        <locationY>152</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Quote_Facility</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Synced_Quote_Facilities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuoteFacilitiesToDesync</name>
        <label>LoopQuoteFacilitiesToDesync</label>
        <locationX>1896</locationX>
        <locationY>496</locationY>
        <collectionReference>Get_Quote_Facilities_to_Desync</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Facilities_to_Desync</name>
        <label>Get Quote Facilities to Desync</label>
        <locationX>1892</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Facilities_to_De_sync_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Facility.Quote_Line_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Quote_Facility.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Synced_Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Facility</name>
        <label>Get Quote Facility</label>
        <locationX>1626</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote_Facility_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Quote_Facility_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_De_Synced_Quote_Facilities</name>
        <label>Update De-Synced Quote Facilities</label>
        <locationX>1366</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>Update_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>QuoteFacilitiesToDesyncCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Line_Items</name>
        <label>Update Quote Line Items</label>
        <locationX>1365</locationX>
        <locationY>678</locationY>
        <inputReference>QLICollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Synced_Quote_Facilities</name>
        <label>Update Synced Quote Facilities</label>
        <locationX>1367</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Update_De_Synced_Quote_Facilities</targetReference>
        </connector>
        <inputReference>QuoteFacilityCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1324</locationX>
        <locationY>152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Quote_Facility_IDs</targetReference>
        </connector>
        <fields>
            <name>confirmation_lwc</name>
            <extensionName>c:syncQuoteFacility</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ids</name>
                <value>
                    <elementReference>RecordIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorSomeRecOnOneLineItem</name>
        <label>ErrorSomeRecOnOneLineItem</label>
        <locationX>1122</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>someFacilitiesOnOneItem</name>
            <fieldText>&lt;p&gt;Please select only one Quote Facility record per Quote Line Item to sync.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>457</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>FillingRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listSelectedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>QLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteFacilitiesToDesyncCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>QuoteFacilityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>QuoteFacilityDeSyncVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>QuoteFacilityVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedQuoteFacitityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Facility__c</objectType>
    </variables>
    <variables>
        <name>usedLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
